.box1{
    width: 500px;
    height: 170px;
    border: #aba8df 3px solid;
    border-radius: 10px;
    padding:20px;
    color:#eb88db;
    text-align: left;
    font-size: 19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav{
    height:41px;
    border-top:3px solid #eb88db;
    border-bottom: 1px solid #edeef0;
    background-color:#fcfcfc;
    line-height: 41px;
}
.nav a {
    /* a属于行内元素 不能改变高度 此时必须要转换为行内块元素 */
    display: inline-block;
    height:41px;
    padding:0 20px;
    font-size:13px;
    color:#4c4c4c;
    text-decoration: none;
}
.nav a:hover {
    background-color: #eee;
    color:#eb88db;
}